body {
    height: 100%;
}

section {
    overflow:auto;
}

#content {
    padding: 10px 35px 70px 35px;
}

#page-content {
    padding-top: 60px
}

#logo {
    margin: 60px -30px 0px 0px;
}

#alpha-img {
    margin-right:20px;
}

.space-div {
    height:15px;
}

.main-bar {
    margin-left: 15px;
}

.main-bar > section {
    padding-top:30px;
}

.nav-list > li:first-child > a {
    min-width: 200px;
    border-radius: 5px 5px 0px 0px;
}

.nav-list > li > a {
    min-width: 200px;
    padding: 10px;
    border-color:#EDEDF3;
    border-style:solid;
    border-width:1px 1px 0px 1px;
}

.nav-list > li:last-child > a {
    min-width: 200px;
    border-radius: 0px 0px 5px 5px;
    border-width:1px 1px 1px 1px;
}

.nav-list .icon-chevron-right {
    float: right;
    margin-left: 20px;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}


.fixed-top {
    position: fixed;
    top: 90px;
}

.copyright {
    margin-top:7px;
}

.staff {
    margin-bottom:40px;
}

.fg-logo-text-color {
    color: #1212ff;
}

.rounded {
    border-radius: 5px;
}

.img-margins {
    margin:0px 10px;
}

.img-margins-bottom  {
    margin-bottom:10px;
}

.li-margins {
    margin-bottom:10px;
}

.bg-white {
    background-color:#fff;
}

.bg-blue {
    background-color:#3399FF;
}

.hero-unit {
    margin-top:60px;
}

.hero-unit h1 {
    font-weight:200;
    font-size:80px;
    letter-spacing: +5px;
}

.hero-unit p {
    margin-top:15px;
    font-size:22px;
}

.column {
    width:50%;
    float:left;
}

