body {
    height: 100%;
}

#content {
    padding: 10px 40px 70px 40px;
}

#logo {
    margin: 40px 0px 0px 0px;
}

.copyright {
    margin-top:7px;
}

.fg-logo-text-color {
    color: #1212ff;
}

.rounded {
    border-radius: 5px;
}

.bg-white {
    background-color:#fff;
}

.bg-blue {
    background-color:#3399FF;
}

.hero-unit {
    margin-top:60px;
}

.hero-unit h1 {
    font-weight:200;
    font-size:80px;
    letter-spacing: +5px;
}

.hero-unit p {
    margin-top:15px;
    font-size:22px;
}
