body {
    height: 100%;
}

section {
    overflow: auto;
}

a {
    color: #189400;
}

#content {
    padding: 20px 35px 20px 35px;
    border-radius: 0 0 0 0;
}

#page-content {
    padding-top: 60px
}

.footer {
    background-color: #fff;
    padding: 20px 35px 5px 35px;
}

#logo {
    margin: 120px 0px 0px 0px;
    padding: 0px 10px 0px 0px;
}

#logo > img {
    width: 410px;
}

#alpha-img {
    margin-right: 0px;
}

#alpha-img > img {
    width: 500px;
}

.address {
    padding-top:10px;
    margin-right: 30px;
}

.fancybox > img {
    width: 200px;
}

.space-div {
    height: 15px;
}

.main-bar {
    margin-left: 15px;
}

.main-bar > section {
    padding-top: 30px;
}

.muted > a {
    color: #999;
    text-decoration: underline;
}

.navbar .brand {
    float: right;
    color: #1212ff;
}

.nav-list > li:first-child > a {
    min-width: 200px;
    border-radius: 5px 5px 0px 0px;
}

.nav-list > li > a {
    min-width: 200px;
    padding: 10px;
    border-color: #EDEDF3;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
}

.nav-list > li:last-child > a {
    min-width: 200px;
    border-radius: 0px 0px 5px 5px;
    border-width: 1px 1px 1px 1px;
}

.nav-list .active > a, .nav-list .active > a:hover {
    background-color: #189400;
}

.nav-list > li > a:hover {
    color: #189400;
}

.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: #189400;
}

.nav-list .icon-chevron-right {
    float: right;
    margin-left: 20px;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}

.dropdown-menu > li > a:hover, .dropdown-menu li > a:focus {
    background-color: #189400;
    background-image: none;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus, .navbar .nav li.dropdown.active>.dropdown-toggle {
    color: #189400;
}

.fixed-top {
    position: fixed;
    top: 90px;
}

.footer-content {
    margin-top: 7px;
}

.alpha-info {
    margin-left: 50px;
}

.copyright {
    text-align: center;
    font-size: 10pt;
}

.staff {
    margin-bottom: 40px;
}

.fg-logo-text-color {
    color: #1212ff;
}

.rounded {
    border-radius: 5px;
}

.rounded-no-left {
    border-radius: 0px 5px 5px 0px;
}

.img-margins {
    margin: 0px 15px;
}

.img-margins-bottom {
    margin-bottom: 10px;
}

.li-margins {
    margin-bottom: 10px;
}

.bg-white {
    background-color: #fff;
}

.bg-blue {
    background-color: #3399FF;
}

.bg-green {
    color: #189400;
}

.request-dumpster {
    text-decoration: none !important;
    margin-top: 20px;
    margin-right: 60px;
}

.hero-unit {
    margin-left: auto;
    margin-right: auto;
    margin-top: 85px;
    margin-bottom: 0px;
    width: 125%;
    position: relative;
    left: -115px;
    padding: 0px;

}

.hero-unit h1 {
    font-weight: 200;
    font-size: 80px;
    letter-spacing: +5px;
}

.hero-unit p {
    margin-top: 15px;
    font-size: 22px;
}

.tons-of-space {
    padding: 80px 35px 50px 35px;
    background-color: #fff;
}

.column {
    width: 50%;
    float: left;
}

.dumpster-scale {
    margin-left: 20px;
    margin-top: -15px;
}

.info-text {
    font-style: italic;
    font-size: 13pt;
}

#logo-phone {
    color: gray;
    margin-top: 300px;
    font-size: 14pt;
    font-weight: bold;
    font-style: italic;
}